<!-- AdminLogInForm.html
Michael Cole

The Admin Log-In Form to be used by an admin to log-in
a request -->

<form method="POST">
    {{ adminloginform.csrf_token }}
    <div class="form-row">
        <div class="form-group col-md">
            {{ adminloginform.username.label }}
            {{ adminloginform.username(class_="form-control") }}
            <div class="invalid-feedback">{{ adminLogInForm.username.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md">
            {{ adminloginform.password.label }}
            {{ adminloginform.password(class_="form-control") }}
            <div class="invalid-feedback">{{ adminLogInForm.password.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <a href="/admin/create">Don't have an admin account?</a>
        </div>
        <div class="col-md-6">
            {{ adminloginform.submit(class_="btn btn-primary float-right") }}
        </div>
    </div>

</form>

<script>
    function usernameError() {
        var usernameInput = document.getElementById("username");
        usernameInput.classList.add("is-invalid");
    }
    function passwordError() {
        var passwordInput = document.getElementById("password");
        passwordInput.classList.add("is-invalid");
    }
</script>

{% if adminloginform.username.errors %}
    <script>usernameError();</script>
{% endif %}
{% if adminloginform.password.errors %}
    <script>passwordError();</script>
{% endif %}
