<!-- AdminCreateForm.html
Michael Cole

The Admin Create Form to be used by an admin to log-in
a request -->

<form method='POST'>
    {{ admincreateform.csrf_token }}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ admincreateform.firstname.label }}
            {{ admincreateform.firstname(class_="form-control") }}
        </div>
        <div class="form-group col-md-6">
            {{ admincreateform.lastname.label }}
            {{ admincreateform.lastname(class_="form-control") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md">
            {{ admincreateform.username.label }}
            {{ admincreateform.username(class_="form-control") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ admincreateform.password.label }}
            {{ admincreateform.password(class_="form-control") }}
        </div>
        <div class="form-group col-md-6">
            {{ admincreateform.password_retype.label }}
            {{ admincreateform.password_retype(class_="form-control") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md">
            {{ admincreateform.secret_code.label }}
            {{ admincreateform.secret_code(class_="form-control") }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6">
            <a href="/admin/log-in">Already have an account?</a>
        </div>
        <div class="col-md-6">
            {{ admincreateform.submit(class_="btn btn-primary float-right") }}
        </div>
    </div>

</form>