<!-- OrderForm.html
Michael Cole

The Order Form to be used by customers requesting a custom design -->

<form method="POST">
    {{ orderform.csrf_token }}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ orderform.email.label }}
            {{ orderform.email(class_="form-control") }}
        </div>
        <div class="form-group col-md-6">
            {{ orderform.phone.label }}
            {{ orderform.phone(class_="form-control") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ orderform.name.label }}
            {{ orderform.name(class_="form-control") }}
        </div>
        <div class="form-group col-md-6">
            {{ orderform.contact_method.label }}
            {{ orderform.contact_method(class_="form-control") }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            {{ orderform.description.label }}
            {{ orderform.description(class_="form-control", rows=8) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ orderform.submit(class_='btn btn-primary float-right') }}
        </div>
    </div>
</form>
