<!-- QuestionForm.html
Michael Cole

The Question Form to be used by customer to contact the owner without submitting
a request -->

<form method="POST">
    {{ questionform.csrf_token }}
    <div class="form-row animated fadeInLeftShort">
        <div class="form-group col-md-6">
            {{ questionform.name.label }}
            {{ questionform.name(class_="form-control") }}
            <div class="invalid-feedback">{{ questionform.name.errors[0] }}</div>
        </div>
        <div class="form-group col-md-6">
            {{ questionform.email.label }}
            {{ questionform.email(class_="form-control") }}
            <div class="invalid-feedback">{{ questionform.email.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row animated fadeInLeftShort">
        <div class="form-group col-md-12">
            {{ questionform.how_hear.label }}
            {{ questionform.how_hear(class_="form-control", list="how_hear-list", placeholder="Optional") }}
            <datalist id="how_hear-list">
                <option value="Facebook">
                <option value="Instagram">
                <option value="Ad">
                <option value="Word of Mouth">
            </datalist>
        </div>
    </div>
    <div class="form-row animated fadeInRightShort">
        <div class="form-group col-md-12">
            {{ questionform.content.label }}
            {{ questionform.content(class_="form-control", rows=8) }}
            <div class="invalid-feedback">{{ questionform.content.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ questionform.submit(class_="btn btn-primary float-right animated fadeInRightShort") }}
        </div>
    </div>

</form>

<script>
    function nameError() {
        var nameInput = document.getElementById("name");
        nameInput.classList.add("is-invalid");
    }
    function emailError() {
        var emailInput = document.getElementById("email");
        emailInput.classList.add("is-invalid");
    }
    function contentError() {
        var contentInput = document.getElementById("content");
        contentInput.classList.add("is-invalid");
    }
    function productPreFill() {
        // Automatically fills "Question" input box
        // with product name if a user navigates to this page via the button
        // on the product page
        const queryString = window.location.search;         // get URL
        const urlParams = new URLSearchParams(queryString); // get arguments

        var contentInput = document.getElementById("content");
        // Value will be "[Product Name]: "
        contentInput.value = '[' + urlParams.get('product') + ']: ';
    }
</script>

{% if questionform.name.errors %}
    <script>nameError();</script>
{% endif %}
{% if questionform.email.errors %}
    <script>emailError();</script>
{% endif %}
{% if questionform.content.errors %}
    <script>contentError();</script>
{% endif %}
{% if product %}
    <script>productPreFill();</script>
{% endif %}