<!-- RequestForm.html
Michael Cole

The Request Form to be used by customers requesting a custom design -->

<form method="POST">
    {{ requestform.csrf_token }}
    <div class="form-row animated fadeInLeftShort">
        <div class="form-group col-md-6">
            {{ requestform.name.label }}
            {{ requestform.name(class_="form-control") }}
            <div class="invalid-feedback">{{ requestform.name.errors[0] }}</div>
        </div>
        <div class="form-group col-md-6">
            {{ requestform.contact_method.label }}
            {{ requestform.contact_method(class_="form-control") }}
            <div class="invalid-feedback">{{ requestform.contact_method.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row animated fadeInRightShort">
        <div class="form-group col-md-6">
            {{ requestform.email.label }}
            {{ requestform.email(class_="form-control") }}
            <div class="invalid-feedback">{{ requestform.email.errors[0] }}</div>
        </div>
        <div class="form-group col-md-6">
            {{ requestform.phone.label }}
            {{ requestform.phone(class_="form-control") }}
            <div class="invalid-feedback">{{ requestform.phone.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row animated fadeInLeftShort">
        <div class="form-group col-md-12">
            {{ requestform.how_hear.label }}
            {{ requestform.how_hear(class_="form-control", list="how_hear-list", placeholder="Optional") }}
            <datalist id="how_hear-list">
                <option value="Facebook">
                <option value="Instagram">
                <option value="Ad">
                <option value="Word of Mouth">
            </datalist>
        </div>
    </div>
    <div class="form-row animated fadeInRightShort">
        <div class="form-group col-md-12">
            {{ requestform.description.label }}
            {{ requestform.description(class_="form-control", rows=8) }}
            <div class="invalid-feedback">{{ requestform.description.errors[0] }}</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            {{ requestform.submit(class_='btn btn-primary float-right animated fadeInRightShort') }}
        </div>
    </div>
</form>

<script>
    function emailError() {
        var emailInput = document.getElementById("email");
        emailInput.classList.add("is-invalid");
    }
    function phoneError() {
        var phoneInput= document.getElementById("phone");
        phoneInput.classList.add("is-invalid");
    }
    function nameError() {
        var nameInput = document.getElementById("name");
        nameInput.classList.add("is-invalid");
    }
    function contact_methodError() {
        var contact_methodInput = document.getElementById("contact_method");
        contact_methodInput.classList.add("is-invalid");
    }
    function descriptionError() {
        var descriptionInput = document.getElementById("description");
        descriptionInput.classList.add("is-invalid");
    }
    function productPreFill() {
        // Automatically fills "Tell me what you're looking for!" input box
        // with product name if a user navigates to this page via the button
        // on the product page
        const queryString = window.location.search;         // get URL
        const urlParams = new URLSearchParams(queryString); // get arguments

        var descriptionInput = document.getElementById("description");
        // Value will be "[Product Name]: "
        descriptionInput.value = '[' + urlParams.get('product') + ']: ';
    }
</script>

{% if requestform.email.errors %}
    <script>emailError();</script>
{% endif %}
{% if requestform.phone.errors %}
    <script>phoneError();</script>
{% endif %}
{% if requestform.name.errors %}
    <script>nameError();</script>
{% endif %}
{% if requestform.contact_method.errors %}
    <script>contact_methodError();</script>
{% endif %}
{% if requestform.description.errors %}
    <script>descriptionError();</script>
{% endif %}
{% if product %}
    <script>productPreFill();</script>
{% endif %}