<!-- about.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}

<div class="fullscreen-image">

    {% include './navbar.html' %}

    <div class="row landing-content h-75">
        <div class="container d-flex align-items-center">
            <div class="col-md-10">

                <h1>Our Mission</h1>
                <p class="text-center">
                    Prosper Wood Designs prides itself on doing things and stuff and things and stuff. 
                    This is the Mission Statement for Prosper Wood Designs and perhaps some About content. 
                    There are more things and stuff and things and stuff but most importantly things and 
                    stuff and things and stuff. There are more things and stuff and things and stuff but 
                    most importantly things and stuff and things and stuff. There are more things and 
                    stuff and things and stuff but most importantly things and stuff and things and stuff. 
                    There are more things and stuff and things and stuff but most importantly things 
                    and stuff and things and stuff.
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock body %}

