<!-- about.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}

<div class="fullscreen-image">

    {% include './navbar.html' %}

    <div class="row landing-content h-100">
        <div class="container d-flex align-items-center justify-content-center h-75">
            <div class="col-md-10 mission-statement">

                <h1 class="content-h1">Our Mission</h1>
                <p class="content-p text-center">
                    Hey there fellow Texans. My name is John. I'm a Prosper, Texas resident, Husband and Father of 4. I
                    developed my wood skills under the guidance of my Father and Grandfather. They taught me that the
                    value of your time is measured against the results of your efforts. This is why I take my time to ensure
                    that what I build is worth the time I invested.
                </p>
                <p class="content-p text-center">
                    I create my own custom designs as well as customize to my client's requests and my goal is to always
                    provide quality custom workmanship.
                </p>
                <p class="content-p text-center">
                    I hope you'll take a look at some of my accomplishments and consider reaching out for your custom
                    wood design needs.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="container page-content"> 
    <h1 class="content-h1" id="faq">Frequently Asked Questions</h1>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h3 class="content-h3">How does this work?</h3>
            <p class="content-p">
                The process for ordering your own custom design was created with you, 
                our customer, in mind. First, simply head to our <a href="/order">Order Form</a> and give a 
                detailed description of your order. You will then receive a call or email 
                from us to the email or phone number that you provide. From there, 
                you'll be informed on the estimated cost and wait time. You pay nothing up-front and 
                only pay upon delivery of your custom order. We take cash, PayPal, or Venmo!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h3 class="content-h3">What sort of things can I order?</h3>
            <p class="content-p">
                We do all sorts of custom orders! You can browse our <a href="designs">Gallery of Custom Designs</a> and 
                place an order for one that you love. Or maybe just use a custom design as inspiration for your own! 
                Maybe you have an idea that we've never created before -- we can probably do it! 
                Just head to our <a href="/order">Order Form</a> and give us your thoughts. The sky is the limit!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h3 class="content-h3">How does this work?</h3>
            <p class="content-p">
                The process for ordering your own custom design was created with you, 
                our customer, in mind. First, simply head to our <a href="/order">Order Form</a> and give a 
                detailed description of your order. You will then receive a call or email 
                from us to the email or phone number that you provide. From there, 
                you'll be informed on the estimated cost and wait time. You pay nothing up-front and 
                only pay upon delivery of your custom order. We take cash, PayPal, or Venmo!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h3 class="content-h3">What sort of things can I order?</h3>
            <p class="content-p">
                We do all sorts of custom orders! You can browse our <a href="designs">Gallery of Custom Designs</a> and 
                place an order for one that you love. Or maybe just use a custom design as inspiration for your own! 
                Maybe you have an idea that we've never created before -- we can probably do it! 
                Just head to our <a href="/order">Order Form</a> and give us your thoughts. The sky is the limit!
            </p>
        </div>
    </div>
</div>

{% endblock body %}

