<!-- about.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}

<div class="fullscreen-image">

    {% include './navbar.html' %}

    <div class="row landing-content h-100">
        <div class="container d-flex align-items-center">
            <div class="col-md-10">

                <h1>Our Mission</h1>
                <p class="text-center">
                    Prosper Wood Designs prides itself on doing things and stuff and things and stuff. 
                    This is the Mission Statement for Prosper Wood Designs and perhaps some About content. 
                    There are more things and stuff and things and stuff but most importantly things and 
                    stuff and things and stuff. There are more things and stuff and things and stuff but 
                    most importantly things and stuff and things and stuff. There are more things and 
                    stuff and things and stuff but most importantly things and stuff and things and stuff. 
                    There are more things and stuff and things and stuff but most importantly things 
                    and stuff and things and stuff.
                </p>

            </div>
        </div>
    </div>

</div>

<div class="container page-content"> 
    <h1>Frequently Asked Questions</h1>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h4>How does this work?</h4>
            <p>
                The process for ordering your own custom design was created with you, 
                our customer, in mind. First, simply head to our <a href="/order">Order Form</a> and give a 
                detailed description of your order. You will then receive a call or email 
                from us to the email or phone number that you provide. From there, 
                you'll be informed on the estimated cost and wait time. You pay nothing up-front and 
                only pay upon delivery of your custom order. We take cash, PayPal, or Venmo!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h4>What sort of things can I order?</h4>
            <p>
                We do all sorts of custom orders! You can browse our <a href="designs">Gallery of Custom Designs</a> and 
                place an order for one that you love. Or maybe just use a custom design as inspiration for your own! 
                Maybe you have an idea that we've never created before -- we can probably do it! 
                Just head to our <a href="/order">Order Form</a> and give us your thoughts. The sky is the limit!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h4>How does this work?</h4>
            <p>
                The process for ordering your own custom design was created with you, 
                our customer, in mind. First, simply head to our <a href="/order">Order Form</a> and give a 
                detailed description of your order. You will then receive a call or email 
                from us to the email or phone number that you provide. From there, 
                you'll be informed on the estimated cost and wait time. You pay nothing up-front and 
                only pay upon delivery of your custom order. We take cash, PayPal, or Venmo!
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11">
            <h4>What sort of things can I order?</h4>
            <p>
                We do all sorts of custom orders! You can browse our <a href="designs">Gallery of Custom Designs</a> and 
                place an order for one that you love. Or maybe just use a custom design as inspiration for your own! 
                Maybe you have an idea that we've never created before -- we can probably do it! 
                Just head to our <a href="/order">Order Form</a> and give us your thoughts. The sky is the limit!
            </p>
        </div>
    </div>
</div>

{% endblock body %}

