<!-- admin-create.html
Michael Cole

Content for the Admin Create page -->
{% extends 'layout.html' %}

{% block body %}

    <div class="container page-content form-content">
        <div class="row align-items-center">
            <div class="col-md-12 animatedParent">
                <h1 id="admincreate" class="animated fadeInLeftShort">
                    Admin Create
                </h1>

                <div class="animated fadeIn">
                    {% include 'forms/AdminCreateForm.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

