<!-- admin.html
Michael Cole

Content for the landing page -->
{% extends 'layout.html' %}

{% block body %}

    <div class="container">
        <h1>{{ greeting }}, {{ current_user.firstname }}</h1>
        <h3>Welcome to your Admin Dashboard</h3>

        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="true">Requests</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contacts</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-tab">{% include './tables/table-productivity-request.html' %}</div>
            <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">{% include './tables/table-productivity-contact.html' %}</div>
        </div>

{% endblock body %}

