<!-- admin-login.html
Michael Cole

Content for the Admin Log-In page -->
{% extends 'layout.html' %}

{% block body %}

    <div class="container page-content form-content">
        <div class="row align-items-center">
            <div class="col-md-12 animatedParent">
                <h1 id="adminlogin" class="animated fadeInLeftShort">
                    Admin Log-In
                </h1>

                <div class="animated fadeIn">
                    {% include 'forms/AdminLogInForm.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

