<!-- contact-card.html
Michael Cole

Contact card to be used in conjunction with the footer -->

<div class="container-fluid business-card-container animatedParent">
    <div class="card border-primary business-card animated rotateInUpLeft">
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/logo_black.png" alt="Prosper Wood Designs Logo" class="card-img-top business-card-logo">
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <h3 class="card-title text-center">John Manning</h3>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <div class="col-md-12">
                        <p class="card-text"><strong>Phone: </strong>856-577-4087</p>
                        <p class="card-text"><strong>Email: </strong>prosperwooddesigns@gmail.com</p>
                    </div>
                </div>
            </div>
            <hr>
            <a href="/contact" class="btn btn-primary business-card-button">Ask a Question</a>
        </div>
    </div>
</div>