<!-- data.html
Michael Cole

Content for the Data Tables -->

{% extends './layout.html' %}

{% block body %}

    <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="true">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Image</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="layout-tab" data-toggle="tab" href="#layout" role="tab" aria-controls="layout" aria-selected="false">Layout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">{% include './tables/table-admin.html' %}</div>
        <div class="tab-pane fade show" id="request" role="tabpanel" aria-labelledby="request-tab">{% include './tables/table-request.html' %}</div>
        <div class="tab-pane fade show" id="image" role="tabpanel" aria-labelledby="image-tab">{% include './tables/table-image.html' %}</div>
        <div class="tab-pane fade show" id="layout" role="tabpanel" aria-labelledby="layout-tab">{% include './tables/table-layout.html' %}</div>
        <div class="tab-pane fade show" id="contact" role="tabpanel" aria-labelledby="contact-tab">{% include './tables/table-contact.html' %}</div>
    </div>

{% endblock %}
