<!-- designs.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}


    <div class="container page-content highlighted-designs animatedParent">


        <h1 class="animated fadeInDownShort delay-250">Check out some of our designs!</h1>

        {% for row in joinedProductsImages %}
            <div class="card-deck highlighted-designs-deck">
                {% for product in row %}
                    <div class="card highlighted-designs-card animated
                    {% if loop.first %}
                        bounceInLeft
                    {% elif loop.last %}
                        bounceInRight
                    {% else %}
                        bounceInUp
                    {% endif %}
                    ">
                        <img src="{{ product.location }}" alt="" class="card-img-top highlighted-designs-img">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>{{ product.name }}</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn-link"><button class="btn btn-primary btn-lg btn-block">See More</button></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>

{% endblock body %}

