<!-- designs.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}

    <div class="container-fluid page-content">

        <div class="container-fluid gallery-container animatedParent">
            <div class="row gallery-row animated fadeInUpShort">
                <div class="column gallery-column">
                    <a href="../static/images/cabinet00.jpeg" data-lightbox="gallery" data-title="Cabinet">
                        <img src="../static/images/cabinet00.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Personalized Decorative Cabinet</figcaption>
                    <a href="../static/images/decor_board00.jpeg" data-lightbox="gallery" data-title="Decor Board">
                        <img src="../static/images/decor_board00.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Decorative Board</figcaption>
                </div>
                <div class="column gallery-column">
                    <a href="../static/images/decor_holiday03.jpeg" data-lightbox="gallery" data-title="Holiday Decor">
                        <img src="../static/images/decor_holiday03.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Decorative Christmas Board</figcaption>
                    <a href="../static/images/cornhole_football02.jpeg" data-lightbox="gallery" data-title="Football Cornhole Board">
                        <img src="../static/images/cornhole_football02.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Custom Football Cornhole Board</figcaption>
                </div>
                <div class="column gallery-column">
                    <a href="../static/images/decor_name00.jpeg" data-lightbox="gallery" data-title="Name Decor Board">
                        <img src="../static/images/decor_name00.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Personalized Name Decor Board</figcaption>
                    <a href="../static/images/exercisebox00.jpeg" data-lightbox="gallery" data-title="Exercise Box">
                        <img src="../static/images/exercisebox00.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Plyometrics Box</figcaption>
                    <a href="../static/images/decor_holiday05.jpeg" data-lightbox="gallery" data-title="Holiday Decor">
                        <img src="../static/images/decor_holiday05.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Halloween Multi-Use Decor</figcaption>
                </div>
                <div class="column gallery-column">
                    <a href="../static/images/cornhole_football00.jpeg" data-lightbox="gallery" data-title="Football Cornhole Board">
                        <img src="../static/images/cornhole_football00.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Custom Prosper Football Cornhole Baord</figcaption>
                    <a href="../static/images/decor_holiday02.jpeg" data-lightbox="gallery" data-title="Holiday Decor">
                        <img src="../static/images/decor_holiday02.jpeg" alt="">
                    </a>
                    <figcaption class="figure-caption">Fall Decorative Board</figcaption>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

