<!-- index.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}

<div class="cover-photo">

    {% include './navbar.html' %}

    <div class="row justify-content-around align-items-center text-center landing-content h-75">
        <div class="col-md-6 animatedParent">
            <img src="../static/images/logo_white.png" alt="" class="landing-logo animated fadeInDownShort">
        </div>
        <div class="col-md-6">
            <div class="row justify-content-around align-items-center text-center">
                <div class="col-md-12 landing-tag animatedParent">
                    <h4 class="animated fadeInRightShort">Your one stop shop for your custom wood designs!</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container page-content highlighted-designs animatedParent">

    <h1 class="text-center">Featured Designs</h1>

    <div class="container marketing">

    <hr class="featured-divider">

        <div class="row featured align-items-center">
            <div class="col-md-7">
                <h2 class="featured-heading">First featured heading. <span class="text-muted">It'll blow your
                        mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 align-items-center text-center">
                <img class="featured-image img-fluid mx-auto" src="../static/images/cornhole_football00.jpeg"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featured-divider">

        <div class="row featured">
            <div class="col-md-7 order-md-2">
                <h2 class="featured-heading">Oh yeah, it's that good. <span class="text-muted">See for
                        yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featured-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featured-divider">

        <div class="row featured">
            <div class="col-md-7">
                <h2 class="featured-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
                    tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featured-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
                    alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featured-divider">

        <!-- /END THE FEATURETTES -->

    </div>


    {% endblock body %}