<!-- index.html
Michael Cole

Content for the landing page -->
{% extends './layout.html' %}

{% block body %}

<div class="cover-photo">

    {% include './navbar.html' %}

    <div class="row justify-content-around align-items-center text-center landing-content h-75">
        <div class="col-md-6 animatedParent animateOnce">
            <img src="../static/images/logo_white.png" alt="" class="landing-logo animated fadeInDownShort">
        </div>
        <div class="col-md-6">
            <div class="row justify-content-around align-items-center text-center">
                <div class="col-md-12 landing-tag animatedParent animateOnce">
                    <h4 class="animated fadeInRightShort">{{ tagline }}</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container page-content featured-products">

    <div class="featured-title animatedParent animateOnce">
        <h1 class="display-4 text-center animated fadeIn">{{ featured_header }}</h1>
    </div>

    {% for product in featuredProducts %}
        <div class="featured-product-container animatedParent animateOnce" data-appear-top-offset='400'>
            <hr class="featured-divider animated fadeIn">
            <div class="row featured align-items-center">
                {% if loop.index is odd %}
                <div class="col-md-7 animated fadeInLeft delay-250">
                {% else %}
                <div class="col-md-7 order-md-2 text-right animated fadeInRight delay-250">
                {% endif %}
                    <h1 class="featured-heading">{{ product.name }}</h1>
                    <p class="lead">{{ product.description }}</p>

                </div>
                {% if loop.index is odd %}
                <div class="col-md-5 align-items-center text-center animated fadeInRight delay-250">
                {% else %}
                <div class="col-md-5 order-md-1 align-items-center text-center animated fadeInLeft delay-250">
                {% endif %}
                    <img src="{{ product.location }}" alt="{{ product.name }}"
                    class="featured-image img-fluid mx-auto rounded">
                </div>
            </div>
            <div class="row featured-footer justify-content-center animatedParent animateOnce" data-appear-top-offset='400'>
                <a href="/designs/{{ product.name }}" class="btn-link animated-button">
                    <button class="btn btn-primary animated growIn delay-1000">{{ featured_buttons }}</button>
                </a>
            </div>
        </div>
    {% endfor %}
    <hr class="featured-divider">

    <div class="featured-more-designs animatedParent animateOnce">
        <div class="row animated pulse delay-500">
            <div class="col-md-12">
                <h1 class="display-4 text-center">{{ designs_header }}</h1>
            </div>
        </div>
        <div class="row featured-more-designs-button justify-content-center animated tada delay-1500">
            <a href="/designs" class="btn-link animated-button">
                <button class="btn btn-primary">{{ designs_button }}</button>
            </a>
        </div>
    </div>

</div>

{% endblock body %}
