<!-- question.html
Michael Cole

The Question Page for users to send an automated email to the owner -->

{% extends 'layout.html' %}

{% block body %}

    <div class="container page-content form-content">
        <div class="row align-items-center">
            <div class="col-md-12 animatedParent">
                <h1 id="askquestion" class="animated fadeInLeftShort">
                    Ask a Question
                </h1>

                <div class="animated fadeIn">
                    {% include 'forms/QuestionForm.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}