<!-- questionform_success.html
Michael Cole

The Question Confirmation Page for users after they've
submitted the question form -->

{% extends 'layout.html' %}

{% block body %}

    <div class="container page-content form-content">
        <div class="row align-items-center text-center">
            <div class="col-md-12 animatedParent" data-sequence='1000'>

                <h1 id="question_success" class="animated bounceIn" data-id='1'>Thank you for reaching out!</h1>

                <p class="animated fadeInUpShort" data-id='2'><a href="/">Click here to return to the homepage</a></p>

            </div>
        </div>
    </div>

{% endblock %}
