<!-- layout.html
Michael Cole

Contains all styling tags -->

<!-- bootstrap -->
<!-- <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css"> -->
<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.prospergreen.min.css">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css"> <!-- Bootstrap Table -->

<!-- lightbox -->
<link rel="stylesheet" href="../static/lightbox2-2.11.3/src/css/lightbox.css">

<!-- animate it -->
<link rel="stylesheet" href="../static/css3-animate-it-master/css/animations.css">

<!-- custom -->
<link rel="stylesheet" href="/static/css/custom/custom.css">


<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Exo+2:wght@400;800&display=swap" rel="stylesheet">
