<!-- modal-product-management.html
Michael Cole

Modal for the Product Management products -->

<!-- Main Modal -->
<form method="POST" action="/admin/product-management/update/{{ productFeaturedImage.id }}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="modal fade" id="modal-{{ productFeaturedImage.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit {{ productFeaturedImage.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="productName-{{ productFeaturedImage.id }}">Product Name</label>
                            <input name="productName-{{ productFeaturedImage.id }}" type="text" class="form-control" id="productName-{{ productFeaturedImage.id }}" value="{{ productFeaturedImage.name }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="productDescription-{{ productFeaturedImage.id }}">Product Description</label>
                            <textarea name="productDescription-{{ productFeaturedImage.id }}" id="productDescription-{{ productFeaturedImage.id }}" cols="30" rows="10" class="form-control">{{ productFeaturedImage.description }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="custom-control custom-switch">
                            <input name="is_featured_product-{{ productFeaturedImage.id }}" type="checkbox" class="custom-control-input" id="isFeatured-{{ productFeaturedImage.id }}"
                                {% if productFeaturedImage.is_featured_product %}checked{% endif %}>
                            <label class="custom-control-label" for="isFeatured-{{ productFeaturedImage.id }}">Featured Product</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#product-delete-{{ productFeaturedImage.id }}">Delete</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</form>

<!-- Delete Modal -->
<div class="modal" id="product-delete-{{ productFeaturedImage.id }}" tabindex="-1" role="dialog" aria-labelledby="product-delete-{{ productFeaturedImage.id }}-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Form -->
            <form action="/admin/product-management/delete/{{ productFeaturedImage.id }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-header">
                    <h2 class="modal-title" id="product-delete-{{ productFeaturedImage.id }}-title">Delete Product?</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            Are you sure you want to <strong>permanently</strong> delete this Product?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                    <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
                </div>
            </form>
        </div>
    </div>
</div>