<!-- Main Modal -->
<div class="modal fade" id="request-{{ request.id }}" tabindex="-1" role="dialog" aria-labelledby="request-{{ request.id }}-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Form -->
            <form action="/admin/request/update/{{ request.id }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-header">
                    <h2 class="modal-title" id="request-{{ request.id }}-title">{{ request.name }}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="request-{{ request.id }}"><h5>{{ request.created_date }}</h5></label>
                            <select name="request-{{ request.id }}" id="request-{{ request.id }}" class="form-control">
                                <option value="unread" {% if request.status == 'unread' %}selected{% endif %}>Unread</option>
                                <option value="read" {% if request.status ==  'read' %}selected{% endif %}>Read</option>
                                <option value="in progress" {% if request.status == 'in progress' %}selected{% endif %}>In Progress</option>
                                <option value="ready to deliver" {% if request.status == 'ready to deliver' %}selected{% endif %}>Ready to Deliver</option>
                                <option value="complete" {% if request.status == 'complete' %}selected{% endif %}>Complete</option>
                                <option value="archive">Archive</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md"><strong>Email:</strong> {{ request.emailaddress }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md"><strong>Phone:</strong> {{ request.phonenumber }}</div>
                    </div>
                    <hr>
                    <p>{{ request.description }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#request-delete-{{ request.id }}">Delete</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal" id="request-delete-{{ request.id }}" tabindex="-1" role="dialog" aria-labelledby="request-delete-{{ request.id }}-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- Form -->
            <form action="/admin/request/delete/{{ request.id }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-header">
                    <h2 class="modal-title" id="request-delete-{{ request.id }}-title">Delete Request?</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            Are you sure you want to <strong>permanently</strong> delete this Request?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                    <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
                </div>
            </form>
        </div>
    </div>
</div>
