<!-- modal-product-management-images.html
Michael Cole

Modal for the Product Management images -->

<!-- Main Modal -->
<form method="POST" action="/admin/product-management/updateImages/{{ productFeaturedImage.id }}" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="modal fade" id="modal-{{ loop.index }}-images" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage {{ productFeaturedImage.name }} Images</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 deleteImage">
                        {% for productImage in productsImages %}
                            {% if productImage.id == productFeaturedImage.id and not productImage.is_featured_img %}
                                <input class="deleteImage-input" type="checkbox" id="checkbox-{{ productImage.image_id }}"
                                       name="deleteImages[]" value="{{ productImage.image_id }}" hidden>
                                <label class="deleteImage-label" for="checkbox-{{ productImage.image_id }}">
                                    <img src="{{ productImage.location }}" alt="{{ productImage.location }}" class="thumbnail rounded deleteImage-image">
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload an Image</label>
                            <input name="addImages[]" type="file" class="form-control-file" id="exampleFormControlFile1" multiple="true">
                        </div>
                    <div class="col-md-8">
                        {% if filenames %}
                            {% for filename in filenames %}
                                <img src="{{ url_for('display_name', filename=filename) }}" alt="">
                            {% endfor %}
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#product-updateFeatured-{{ loop.index }}">Update Featured Image</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</form>

<!-- Update Featured image Modal -->
<div class="modal" id="product-updateFeatured-{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="product-updateFeatured-{{ loop.index }}-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <!-- Form -->
            <form action="/admin/product-management/updateImages/{{ productFeaturedImage.id }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="modal-header">
                    <h3 class="modal-title" id="product-updateFeatured-{{ loop.index }}-title">Update Featured Image</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% for productImage in productsImages %}
                                {% if productImage.id == productFeaturedImage.id and productImage.is_featured_img %}
                                        <div class="media">
                                            <img src="{{ productImage.location }}" alt="{{ productImage.location }}" class="align-self-start mr-3 rounded thumbnail">
                                            <div class="media-body">
                                                <h5 class="mt-0">{{ productImage.name }} Featured Image</h5>
                                            </div>
                                        </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            {% for productImage in productsImages %}
                                {% if productImage.id == productFeaturedImage.id and not productImage.is_featured_img %}
                                    <input class="replaceImage-input" type="radio" id="radio-{{ productImage.image_id }}"
                                            name="replaceImage" value="{{ productImage.image_id }}" hidden>
                                    <label class="replaceImage-label" for="radio-{{ productImage.image_id }}">
                                        <img src="{{ productImage.location }}" alt="{{ productImage.location }}" class="thumbnail rounded replaceImage-image">
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
