<!-- admin/heading.html
Michael Cole

Contains heading logic for the admin pages -->

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
<h1 class="h3 mb-0 text-gray-800">
    {% if 'Dashboard' in title %}
        Dashboard
    {% elif 'Project Management' in title %}
        Dashboard - Project Management
    {% elif 'Product Management' in title %}
        Dashboard - Product Management
    {% elif 'Site Management' in title %}
        Dashboard - Site Management
    {% elif 'Data' in title %}
        Dashboard - Data
    {% endif %}
</h1>

<!-- buttons -->
{% if "Product Management" in title %}
    <button class="btn btn-sm btn-primary shadow-sm" type="button" data-toggle="modal"
        data-target="#modal-new-product">
        <i class="fas fa-plus-square text-white"></i> New Product
    </button>
{% endif %}
</div>
