<!-- admin/product-management.html
Michael Cole

Product Management Page for the Admins -->

{% extends './admin/layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-6">
        <div class="accordion" id="accordionExample">
            {% for productFeaturedImage in productsFeaturedImages %}
                <div class="card">
                    <div class="card-header" id="heading-{{ loop.index }}">
                        <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                            <img class='accordion-img' src="{{ productFeaturedImage.location }}" alt="{{ productFeaturedImage.name }}"> {{ productFeaturedImage.name }}
                            {% if productFeaturedImage.is_featured_product %}
                                <span class="badge badge-success"><i class="fas fa-trophy"></i> featured</span>
                            {% endif %}
                        </button>
                        </h2>
                    </div>
                
                    <div id="collapse-{{ loop.index }}" class="collapse" aria-labelledby="heading-{{ loop.index }}" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ productFeaturedImage.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}



