<!-- sidebar.html
Michael Cole

Contains the admins sidebar -->

<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <i class="fas fa-user-shield"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ current_user.firstname }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {% if 'Dashboard' in title %}
        <li class="nav-item active">
    {% else %}
        <li class="nav-item">
    {% endif %}
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading">
        Management
    </div>

    {% if 'Project Management' in title %}
        <li class="nav-item active">
    {% else %}
        <li class="nav-item">
    {% endif %}
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#projectManagementCollapse" aria-expanded="true" aria-controls="projectManagementCollapse">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Project Management</span>
        </a>
        <div id="projectManagementCollapse" class="collapse" aria-labelledby="projectManagementHeading" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/project-management/requests"><i class="fas fa-fw fa-inbox"></i> Requests</a>
                <a class="collapse-item" href="/admin/project-management/questions"><i class="fas fa-fw fa-question-circle"></i> Questions</a>
                <a class="collapse-item" href="/admin/project-management/contacts"><i class="fas fa-fw fa-id-card"></i> Contacts</a>
            </div>
        </div>
    </li>

    {% if 'Product Management' in title %}
        <li class="nav-item active">
    {% else %}
        <li class="nav-item">
    {% endif %}
        <a class="nav-link" href="/admin/product-management">
            <i class="fas fa-fw fa-box-open"></i>
            <span>Product Management</span></a>
    </li>

    {% if 'Site Management' in title %}
        <li class="nav-item active">
    {% else %}
        <li class="nav-item">
    {% endif %}
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-laptop-house"></i>
            <span>Site Management</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Development
    </div>

    {% if 'Data' in title %}
        <li class="nav-item active">
    {% else %}
        <li class="nav-item">
    {% endif %}
        <a class="nav-link" href="/admin/data">
            <i class="fas fa-fw fa-table"></i>
            <span>Data</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->