<!-- topbar.html
Michael Cole

Contains the admin's mini-navbar (aka topbar) -->

<nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>


    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        <!-- Nav Item - Requests -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-comment-dollar fa-fw"></i>
                <!-- Counter - Requests -->
                {% if unreadRequests|length > 0 %}
                    <span class="badge badge-danger badge-counter">{{ unreadRequests|length }}</span>
                {% endif %}
            </a>
            <!-- Dropdown - Requests -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Unread Requests
                </h6>
                {% if unreadRequests|length > 0 %}
                    {% for unreadRequest in unreadRequests %}
                    <a href="/admin/project-management/requests" class="dropdown-item admin-alerts-dropdown d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-info">
                                <i class="fas fa-bell text-white"></i>
                            </div>
                        </div>
                        <div>
                            <span class="font-weight-bold">{{ unreadRequest.description[:25] }}...</span>
                            <div class="small text-gray-500">{{ unreadRequest.created_date }} - {{ unreadRequest.name }}</div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <a href="/admin/project-management/requests" class="dropdown-item admin-alerts-dropdown d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-smile text-white"></i>
                            </div>
                        </div>
                        <div>
                            <span class="font-weight-bold">You're all caught up!</span>
                        </div>
                    </a>
                {% endif %}
            </div>
        </li>

        <!-- Nav Item - Questions -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-question-circle fa-fw"></i>
                <!-- Counter - Alerts -->
                {% if unreadQuestions|length > 0 %}
                    <span class="badge badge-danger badge-counter">{{ unreadQuestions|length }}</span>
                {% endif %}
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Unread Questions
                </h6>
                {% if unreadQuestions|length > 0 %}
                    {% for unreadQuestion in unreadQuestions %}
                    <a href="/admin/project-management/questions" class="dropdown-item admin-alerts-dropdown d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-info">
                                <i class="fas fa-question text-white"></i>
                            </div>
                        </div>
                        <div>
                            <span class="font-weight-bold">{{ unreadQuestion.content[:25] }}...</span>
                            <div class="small text-gray-500">{{ unreadQuestion.created_date }} - {{ unreadQuestion.name }}</div>
                        </div>
                    </a>
                    {% endfor %}
                {% else %}
                    <a href="/admin/project-management/questions" class="dropdown-item admin-alerts-dropdown d-flex align-items-center">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-smile text-white"></i>
                            </div>
                        </div>
                        <div>
                            <span class="font-weight-bold">You're all caught up!</span>
                        </div>
                    </a>
                {% endif %}
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ current_user.firstname }} {{ current_user.lastname }}</span>
                <i class="fas fa-user"></i>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!-- <a class="dropdown-item admin-alerts-dropdown" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <div class="dropdown-divider"></div> -->
                <a class="dropdown-item admin-alerts-dropdown" href="/admin/logout">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->