<!-- marketing.html
Michael Cole

Note: This file is mostly just a copy of the example chart from sb-admin-2
This chart shows the results of the "How Did You Hear About Us" Questions -->

<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// Pie Chart Example
var ctx = document.getElementById("marketingPie");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    //labels: ["Direct", "Referral", "Social"],
    labels: [
        {% for label in marketingStats_labels %}
          "{{ label }}",
        {% endfor %}
    ],
    datasets: [{
      // data: [55, 30, 15],
      data: [
        {% for data in marketingStats_data %}
          "{{ data }}",
        {% endfor %}
      ],
      backgroundColor: ['#11972e', '#3b5998', '#833ab4', '#333333', '#acb4bd', '#009c53'],
      hoverBackgroundColor: ['#33b94f', '#5d7bba', '#a55cd6', '#555555', '#ced6df', '#22ae75'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: true,
      position: 'bottom'
    },
    cutoutPercentage: 80,
  },
});
</script>