<!-- table-image.html
Michael Cole

Content for the Image Table -->

{% extends './tables/table.html' %}

{% block tableheader %}
    <tr>
        <th>id</th>
        <th>location</th>
        <th>product_id</th>
        <th>is_featured_img</th>
        <th>created_date</th>
    </tr>
{% endblock %}

{% block tabledata %}
    {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.location}}</td>
            <td>{{ image.product_id }}</td>
            <td>{{ image.is_featured_img }}</td>
            <td>{{ image.created_date }}</td>
        </tr>
    {% endfor %}
{% endblock %}

