<!-- table-image.html
Michael Cole

Content for the Image Table -->

{% extends './tables/table.html' %}

{% block tableheader %}
    <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
        <th>filename</th>
        <th>created_date</th>
    </tr>
{% endblock %}

{% block tabledata %}
    {% for image in images %}
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.name }}</td>
            <td>{{ image.description }}</td>
            <td>{{ image.filename }}</td>
            <td>{{ image.created_date }}</td>
        </tr>
    {% endfor %}
{% endblock %}

