<!-- table-productivity-question.html
Michael Cole

Productivity Question table -->

<table id='question-table' data-toggle='table' data-search='true' data-pagination='true' data-show-columns='true'
    class="table-hover">
    <thead class='thead-dark'>
        <tr>
            <th>Status</th>
            <th>Date</th>
            <th>Name</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            {% if not question.is_archived %}
                <tr data-toggle="modal" data-target="#question-{{ question.id }}">
                    <td class="text-center">
                        {% if question.status == 'unread' %}
                            <span style="font-size: 25px; color: rgb(0, 0, 0); position: center;">
                                <i class="fas fa-envelope"></i>
                            </span>
                        {% elif question.status == 'read' %}
                            <span style="font-size: 25px; color: rgb(143, 143, 143); position: center;">
                                <i class="fas fa-envelope-open"></i>
                            </span>
                        {% endif %}
                        <span hidden>{{ question.status }}</span>
                    </td>
                    <td>{{ question.created_date }}</td>
                    <td>{{ question.name }}</td>
                    <td>{{ question.content[:100] }} {% if question.content|length > 100 %}...{% endif %}</td>
                </tr>
                {% include './modals/modal-productivity-question.html' %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>

