<!-- table-productivity-contact.html
Michael Cole

Productivity Contact table -->

<table id='contact-table' data-toggle='table' data-search='true' data-pagination='true' data-show-columns='true'
    class="table-hover">
    <thead class='thead-dark'>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            {% if not contact.is_archived %}
                <tr data-toggle="modal" data-target="#contact-{{ contact.id }}">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phonenumber }}</td>
                    <td>{{ contact.emailaddress }}</td>
                </tr>
                <!-- Main Modal -->
                <!-- <div class="modal fade" id="contact-{{ contact.id }}" tabindex="-1" role="dialog" aria-labelledby="contact-{{ contact.id }}-modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content"> -->
                            <!-- Form -->
                            <!-- <form action="/admin/contact/update/{{ contact.id }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="contact-{{ contact.id }}-title">{{ contact.name }}</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label for="contact-{{ contact.id }}"><h5>{{ contact.created_date }}</h5></label>
                                            <select name="contact-{{ contact.id }}" id="contact-{{ contact.id }}" class="form-control">
                                                <option value="unread" {% if contact.status == 'unread' %}selected{% endif %}>Unread</option>
                                                <option value="read" {% if contact.status ==  'read' %}selected{% endif %}>Read</option>
                                                <option value="archive">Archive</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md"><strong>Email:</strong> {{ contact.emailaddress }}</div>
                                    </div>
                                    <hr>
                                    <p>{{ contact.content }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#contact-delete-{{ contact.id }}">Delete</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
                <!-- Delete Modal -->
                <!-- <div class="modal" id="contact-delete-{{ contact.id }}" tabindex="-1" role="dialog" aria-labelledby="contact-delete-{{ contact.id }}-modal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content"> -->
                            <!-- Form -->
                            <!-- <form action="/admin/contact/delete/{{ contact.id }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <div class="modal-header">
                                    <h2 class="modal-title" id="contact-delete-{{ contact.id }}-title">Delete Contact?</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Are you sure you want to <strong>permanently</strong> delete this Contact?
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                                    <button type="submit" class="btn btn-danger">Yes, I'm sure</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
            {% endif %}
        {% endfor %}
    </tbody>
</table>


